.widget-title {
    margin-top: 2rem;
    text-align: center;
    font-family: 'Salsa', cursive;
    font-size: 42px;
    color: #704825;
}
.widget-title::after {
    background-color: #ffd823;
    content: '';
    display: block;
    margin: 1rem auto 0 auto;
    width: 60px;
    height: 4px;
    border-radius: 2px;
}
.gen-container {
    overflow-x: hidden;
}

.gen-col {
    position: relative;
    display: inline-block;
}

.heading {
    text-align: center;
}

.admission {
    width: 75%;
    float: right;
}

.bar {
    float: right;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    height: 14rem;
    border-radius: 5px;
    width: 0.5rem;
}

.gen-button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    width: 9rem;
    height: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    line-height: 2px;
    color: #fff;
}

h5 {
    text-align: center;
}

.about {
    z-index: 1;
    margin-left: 6rem;
    line-height: 2rem;
}

p {
    font-size: small;
    text-align: justify;
}

.vl {
    border-left: 6px solid green;
    height: 100px;
}

.adm-col {
    border-right: 5px solid #dc3545;
}


.job-col {
    border-right: 5px solid #ffc107;
}

.why-pic {
    float: left;
    margin-left: 1.5rem;
    position: absolute;
    height: 1.3rem;
}

.rating-pic {
    float: left;
    position: absolute;
    height: 0.8rem;
    margin-top: 0.2rem;
}

.rating {
    margin-left: 7rem;
    float: right;
    position: absolute;
}

.why {
    margin-left: 7rem;
    float: right;
    position: absolute;
}

.why-us {
    margin-top: 1rem;
}

.tree {
    left: 0;
    width: 25%;
    bottom: 0;
    height: 16rem;
}

.tree-pic {
    position: absolute;
}

.announcement {
    margin-left: 3rem;
    position: absolute;
    height: 2rem;
}

.job,
.adm,.map {
    height: 50rem;
    width: 100%
}

.map {
    margin: auto;
    width: 90%;
}

.visit {
    margin: auto;
    margin-top: 1rem;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .gen-button {
        margin: 0.5rem;
    }
    .gen-col {
        margin-top: 1rem;
        display: grid;
    }
    .rating-pic {
        float: left;
        position: absolute;
        height: 0.7rem;
        margin-top: 0.5rem;
    }
    .rating {
        margin-left: 5rem;
    }
    .bar {
        height: 0;
    }
    .tree {
        height: 0;
    }
    .admission,
    .adm {
        width: 100%;
    }
}


/***footer***/

.footer {
    margin-top: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1976D2;
    color: white;
}

li {
    padding-top: 0.5rem;
}

@media only screen and (max-width: 600px) {
    .footer {
        text-align: center;
        position: relative;
        top: 100%;
        margin-top: 5rem;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1976D2;
        color: white;
    }
    .gen-button {
        width: 6rem;
    }
    .job,
    .adm {
    height: 50rem;
    width: 100%
}
}