<div class="main-container">
    <div class="gen-container">
        <div class="cover-img">
            <a>
                <img class="d-block w-100 cover-image" src="../../assets/website_cover-01.jpg" alt="First slide">
            </a>
        </div>

        <h2 class="widget-title">
            Why Love Us
        </h2>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="widget-circle" style="background-color:#f25141">
                <img class="avatar" src="../../assets/valentines16.png" alt="pooja_1">
            </div>
            <div class="widget-circle-title" style="color:#f25141">
                Great Teachers
            </div>
            <div class="widget-circle-description">
                Da natum timeam ius. Sed mazim essent recusabo ei, eum et senserit reformi. Eos legere aperiri facilisi
                in.
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="widget-circle" style="background-color: #ffd823;">
                <img class="avatar" src="../../assets/baby152.png" alt="pooja_1">
            </div>
            <div class="widget-circle-title" style="color:#ffd823">
                Delicious Meals
            </div>
            <div class="widget-circle-description">
                Da natum timeam ius. Sed mazim essent recusabo ei, eum et senserit reformi. Eos legere aperiri facilisi
                in.
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="widget-circle" style="background-color: #93c524;">
                <img class="avatar" src="../../assets/kids2.png" alt="pooja_1">
            </div>
            <div class="widget-circle-title" style="color:#93c524">
                Excellent Programmes
            </div>
            <div class="widget-circle-description">
                Da natum timeam ius. Sed mazim essent recusabo ei, eum et senserit reformi. Eos legere aperiri facilisi
                in.
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <div class="widget-circle" style="background-color: #28a8e3;">
                <img class="avatar" src="../../assets/babytoy14.png" alt="pooja_1">
            </div>
            <div class="widget-circle-title" style="color:#28a8e3">
                Funny Games
            </div>
            <div class="widget-circle-description">
                Da natum timeam ius. Sed mazim essent recusabo ei, eum et senserit reformi. Eos legere aperiri facilisi
                in.
            </div>
        </div>
    </div>

    <div class="action-element">
        <span class="action-content-box">
            <span class="action-title">
                How to Enroll </span>
            <span>
                Your Child to a Class? </span>

        </span>
        <span class="action-button">
            <a routerLink="enquiry" title="Learn More" class="ztl-button">
                Learn More </a>
        </span>
    </div>
    <div class="popular-courses">
        <h2 class="widget-title">
            Our Popular Courses
        </h2>
    </div>
    <div class="col-xs-12 ztl-widget-description ztl-widget-description-dark">Adipiscing signiferumque vix et. No alii
        docendi usu, pri graeco possim percipit ne. Affert nostro volumus id pri. Has purto mutat equidem ad. Istarum
        impulsu moralis videmus gi da.</div>

    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="item item-course-1" style="background-color:#f25141;">
                <div class="item-circle-top" style="background-color:#ff614f;">
                    <img src="../../assets/babyclothing2.png" alt="Course" data-no-retina="">
                </div>
                <div class="item-course-title">Baby Dolphin</div>
                <div class="item-course-sub-title">Age 1 to 2</div>
                <div class="item-course-description">Da natum timeam ius. Sed mazim essent sim recusabo eim, eum et
                    senserit reformi. Eos legere aperiri facilisi in.</div>
                <div class="item-footer-content">
                    <img class="item-footer-phantom" src="../../assets/babyclothing2.png" alt="Course"
                        data-no-retina="">

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="item item-course-1" style="background-color:#93c524;">
                <div class="item-circle-top" style="background-color:#a4d638;">
                    <img src="../../assets/toy56.png" alt="Course" data-no-retina="">
                </div>
                <div class="item-course-title">Mini Dolphin</div>
                <div class="item-course-sub-title">Age 2 to 4</div>
                <div class="item-course-description">Da natum timeam ius. Sed mazim essent sim recusabo eim, eum et
                    senserit reformi. Eos legere aperiri facilisi in.</div>
                <div class="item-footer-content">
                    <img class="item-footer-phantom" src="../../assets/toy56.png" alt="Course" data-no-retina="">

                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="item item-course-1" style="background-color:#28a8e3;">
                <div class="item-circle-top" style="background-color:#42b7f3;">
                    <img src="../../assets/teddybear1.png" alt="Course" data-no-retina="">
                </div>
                <div class="item-course-title">Super Dolphin</div>
                <div class="item-course-sub-title">Age 4 to 6</div>
                <div class="item-course-description">Da natum timeam ius. Sed mazim essent sim recusabo eim, eum et
                    senserit reformi. Eos legere aperiri facilisi in.</div>
                <div class="item-footer-content">
                    <img class="item-footer-phantom" src="../../assets/teddybear1.png" alt="Course" data-no-retina="">

                </div>
            </div>
        </div>
    </div>


</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../../assets/testimonials_bg1.png" class="d-block w-100 bg-testimonial-img" alt="...">
                        <div class="carousel-caption d-sm-block">
                            <img class="quote-img" src="../../assets/quote_icon.png" alt="...">
                            <p class="testimonial-content">One of the best decisions we ever made as parents was sending
                                our daughter, Roberta to Kiddie. Your wonderful teachers, your happy environment and
                                fabulous phonics program are the core ingredients, which make it such a top
                                kindergarten.</p>
                            <div class="delimiter"></div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col-md-6 col-sm-6"></div>
    </div>
</div>




















<!-- <div class="col-container">
            <div class="row">
                <div class="col-sm about-col">
                    <div>
                        <p class="main-heading">About</p>
                    </div>
                    <p class="about"> We were established in 2017 with an aim of providing affordable education which
                        focuses mainly on strengthening the fundamental roots of learning. Our approach will help the
                        child in learning better, as the child advances to higher
                        classes. We have over 250+ happy parents so far, whose children have been admitted in elite
                        schools.
                    </p>
                </div>
                <div class="col-sm why-col">
                    <div>
                        <p class="main-heading">Why us?</p>
                        <div class="why-us">
                            <img class="d-block cover-image why-pic" src="../../assets/abc.png">
                            <p class="why">
                                We focus on development of strong basics</p>
                        </div><br>
                        <div class="why-us" style="position: relative;">
                            <img class="d-block cover-image why-pic" src="../../assets/smart.png">
                            <p class="why">
                                Smart classes for interactive learning</p>
                        </div><br>
                        <div class="why-us" style="position: relative;">
                            <img class="d-block cover-image why-pic" src="../../assets/teacher.png">
                            <p class="why">
                                Well experienced teachers</p>
                        </div><br>
                        <div class="why-us" style="position: relative;">
                            <img class="d-block cover-image why-pic" src="../../assets/cctv.png">
                            <p class="why">
                                Safety ensured with premises under cctv surveillance</p>
                        </div><br>
                        <div class="why-us" style="position: relative;">
                            <img class="d-block cover-image rating-pic" src="../../assets/4.5.png">
                            <p class="rating">
                                4.5 stars average rating by 250+ parents</p>
                        </div><br>

                    </div>
                </div>
                <div class="col-sm announcement-col">
                    <div>
                        <p class="main-heading"><img class="d-block cover-image announcement"
                                src="../../assets/announcement.png">Announcement</p>
                    </div>
                    <div class="announcements">
                        <p *ngFor="let ann of announcements; let i = index">
                            {{i+1}}. {{ann}}
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="col-md-12 offset-md-1">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4">
                        <ul class="list-unstyled quick-links">
                            <li>facebook-@wehappydolphins</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text">
                        <ul class="list-unstyled quick-links">
                            <li>Contact-7349164736</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 text">
                        <ul class="list-unstyled quick-links">
                            <li>Mail-wehappydolphins@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->